@import url("fonts.css");
@import url("reset.css");





body {
	font-family: Onest;
	font-size: 25px;
}

h1 {
	font-family: Lemon-Tuesday;
	font-size: 50px;
	text-decoration: underline;
	text-align: center;
	text-transform: capitalize;
	color: brown;
}

span {
	font-family: Gabarito;
	font-size: 34px;
	color: darkorange;
	font-style: oblique;
	text-decoration: line-through;
}


.list-nav {
	font-family: Arimo;
	font-size: 30px;
	text-transform: uppercase;
	text-shadow: 5px 5px 3px rgba(60, 0, 255, 0.5);
	color: red;
}

.istoria {
	font-family: ShantellSans;
	font-weight: bold;
	color: rgb(47, 0, 128);
}

.istoria-continuation {
	color: rgb(226, 208, 43);
	font-family: ShantellSans;
	font-style: italic;
	font-weight: 700;
	font-size: 35px;

}

.opyus {
	font-family: DM+Sans;
	color: rgb(46, 208, 14);
}

.osobliv {
	font-family: ShantellSans;
	color: #6B77E5;
	font-size: 35px;
	text-shadow: red 1px 0px 10px;
}

.training {
	color: rgb(52, 22, 223);
	text-transform: capitalize;
	font-family: Poppins;
	font-style: italic;
	letter-spacing: 10px;
}

.doglyad {
	font-size: 30px;
	font-family: Gabarito;
	letter-spacing: 5px;
	text-align: center;
}


#histori,
#personality,
#description,
#teaching,
#care,
#common-diseases {
	font-family: ShantellSans;
	font-weight: bold;
	font-size: 50px;
	text-decoration: underline;
	color: rgb(244, 13, 13);
	text-align: center;
}

/* -------------------------------Верстка з Figma--------------------------------------------- */

.title1 {
	color: #37393F;
	font-family: Poppins;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.27;
}

.layout-part1 {
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
	line-height: 1.46
}

.title2 {
	color: #6B77E5;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
}

.title3 {
	color: #37393F;
	font-family: Poppins;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.27
}

.layout-part2 p {
	color: #7D7D7D;
	font-size: 18px;
	font-family: Inter;
	line-height: 1.46;
}

.layout-part2 ul,
ol {
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.46;
}